/lib
/src/Emts.Common/bin
/src/Emts.Common/obj
/src/bin
/src/obj
/src/Emts.Common/*
/src/Emts.Common.Tests/bin
/src/Emts.Common.Tests/obj
/src/Emts.Data/obj
/src/Emts.Data/bin
/src/Emts.Data.SqlServer/bin
/src/Emts.Data.SqlServer/obj
/src/Emts.Data.SqlServer.IntegrationTests/bin
/src/Emts.Data.SqlServer.IntegrationTests/obj
/src/Emts.Data.Tests/bin
/src/Emts.Data.Tests/obj
/src/Emts.Web.Api/obj
/src/Emts.Web.Api/bin
/src/Emts.Web.Api.IntegrationTests/obj
/src/Emts.Web.Api.IntegrationTests/bin
/src/Emts.Web.Api.Models/bin
/src/Emts.Web.Api.Models/obj
/src/Emts.Web.Api.Tests/bin
/src/Emts.Web.Api.Tests/obj
/src/Emts.Web.Common/bin
/src/Emts.Web.Common/obj
/src/Emts.Web.Common.Tests/bin
/src/Emts.Web.Common.Tests/obj
/src/EmtsDb/bin
/src/EmtsDb/obj
